<div class="board-list-container">
  <h2>My Boards</h2>

  <form [formGroup]="newBoardForm" (ngSubmit)="onCreateBoard()">
    <input type="text" formControlName="name" placeholder="New board name...">
    <button type="submit" [disabled]="newBoardForm.invalid">Create Board</button>
  </form>
  
  @if (isLoading) {
  <p>Loading boards...</p>
  } @else if (errorMessage) {
  <div class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
  } @else {
  <ul>
    @for (board of boards; track board.id) {
    <li>
      <a [routerLink]="['/boards', board.id]">{{ board.name }}</a>
    </li>
    } @empty {
    <p>You don't have any boards yet. Create one to get started!</p>
    }
  </ul>
  }
</div>
